<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="mainContent">

        {{>header}}
        <p>This site was created by Cevoli.</p>
        <p>The project was created to learn Node using Mapbox and Weatherstack APIs.</p>
    

    </div>

    {{>footer}}

</body>

</html>
